/* Enter your custom styles here */
.loginpage{
    /* background-image: url("https://th.bing.com/th/id/OIP.liVyZtHgG8u0Vv63Ff3glgHaFj?rs=1&pid=ImgDetMain");
    background-repeat: no-repeat;
    opacity: 0.4; 
    background-attachment: fixed;
    background-size: cover; */
}
.title1{
    font-size: xx-large;
    /* color: white; */
    font-family: 'Times New Roman', Times, serif;
    
}
.title2{
    font-size: large;
    /* color: white;   */
}

.input{
    border-radius: 5px;
    color: aquamarine;
}

.form{
    background-color:white;
    /* background-image: url('https://st4.depositphotos.com/13349494/23275/i/450/depositphotos_232751862-stock-photo-dark-blue-shabby-wooden-background.jpg'); */
    border-radius: 10px;
    margin-top: 100px;
}


/* User view */
.SignUp{
padding-left: 10px;
}

.dialogHeader {
    background-color: yellow;
}
